@import './reset';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/proximanova-regular-webfont.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');